{% extends "base.html" %}
{% block title %}Sign up to Money Manager{% endblock %}

{% block content %}

{% if msg %}
<p>
  {{ msg|safe }}
</p>
{% endif %}
<div style="display:flex;align-items: center;min-height: 100vh;margin:100px 0;">
  <div class="container">
    <div class="cardmesh nobg" style="width:500px">
      <div class="card-info">
        <h2 class="subhead">Sign Up</h2>
        <form method="post" action="" class="form-group" enctype="multipart/form-data"> <!-- Changed the action attribute to "index.html" -->
            {% csrf_token %}
            {{ form.as_p }} 
                <div class="form-group" style="display: flex;align-items: center;justify-content: center;">
                    <button type="submit" class="btn" style="padding: 10px 40px;">Sign Up</button>
                </div>
                <p class="signup-link" style="text-align: center;margin-top: 5px;">Already have an account? <a href="/login/">Log in</a></p>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
